services:
  webapi:
    image: skoptenco/glossary-web
    build:
      context: .
      dockerfile: web/Dockerfile
    container_name: web-service
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data
    networks:
      - app-network

  grpc:
    image: skoptenco/glossary-grpc
    build:
      context: .
      dockerfile: grpc/Dockerfile
    container_name: grpc-service
    ports:
      - "50051:50051"
    volumes:
      - ./data:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge